$bodyblue: #3A4663;
$bodygray: #E6E6E6;
$darkgray: #D2CDCD;
$lightgray: #EEE;
$darkpurple: #17062A;
$neonpurple: #56077C;
$darkorange: #C85402;
$bluegreen: #378187;
$yellow: #FFE53D;
$turqouise: #00DED0;